# Ignore folders
CONDITIONS/
Compiler/
IDS/
SAMPLES/
enhanced-powergaming-scripts/
scripts/

# Ignore installer file
setup-enhanced-powergaming-scripts.exe

# (Optional) keep Python cache/junk ignored
*__py*
*.pyc
